.body {
    flex: auto;
	padding-left: 10%;
	padding-right: 10%;

}

h1, h2, h3, h6 {
	display: flex;
	text-align: center;
	
}



.divmod{
	height: 50%;
}

.section1 {
	display: flex;
	justify-content: space-around;
	color: rgb(255, 255, 255);
	letter-spacing: 20px;
	text-shadow: 2px 2px 5px rgb(31, 31, 31);
	background-image: radial-gradient( rgb(255, 255, 255), rgb(102, 102, 102));
	border-style: bottom;
	border-width: thin;
	border-color: rgb(0, 0, 0);

	

}

.section2{
	display: flex;
	justify-content: center;
	
	

	
}

.section2div{
	display: inline-flex;
	border: 20px;
	margin: 20px;
	width: 300px;
	justify-content: center;

}

.section3 {
	display: flex;
	justify-content: space-around;
	background-image: radial-gradient( rgb(255, 255, 255), rgb(102, 102, 102));
	background-color: rgb(145, 144, 144);
	color: rgb(255, 255, 255);
	letter-spacing: 20px;
	text-shadow: 2px 2px 5px rgb(31, 31, 31);
	border-style: solid;
	border-width: thin;
	border-color: rgb(0, 0, 0);

}

.section4 {
	display: flex;
	justify-content: space-between;
}

.section4sub {
	display: inline-flex;
}

.section5 {
	display: flex;
	justify-content: space-between;
}

.section5sub {
	display: inline-flex;
}

.section6 {
	display: flex;
	justify-content: space-between;
}

.section6sub {
	display: inline-flex;
}

.section7 {
	display: flex;
	justify-content: space-between;
}

.section7sub {
	display: inline-flex;
}

.section8 {
	display: flex;
	justify-content: space-around;
	background-image: radial-gradient( rgb(255, 255, 255), rgb(102, 102, 102));
	background-color: rgb(145, 144, 144);
	color: rgb(255, 255, 255);
	letter-spacing: 30px;
	text-shadow: 2px 2px 5px rgb(31, 31, 31);
	border-style: solid;
	border-width: thin;
	border-color: rgb(0, 0, 0);
}

.section8list{
	display: flex;
	justify-content: center;
	letter-spacing: 20px;
	
}

.section8div{
	display: inline-flex;
	border: 20px;
	margin: 20px;
	width: 300px;
	justify-content: center;

}

.section9 {
	display: flex;
	justify-content: space-around;
	background-image: radial-gradient( rgb(255, 255, 255), rgb(102, 102, 102));
	background-color: rgb(145, 144, 144);
	color: rgb(255, 255, 255);
	letter-spacing: 20px;
	text-shadow: 2px 2px 5px rgb(31, 31, 31);
	border-style: solid;
	border-width: thin;
	border-color: rgb(0, 0, 0);
}

.section10 {
	border: 20px;
	margin: 20px;
	height: 15px;
	display: flex;
	justify-content: space-between;
}

.section10sub {
	display: flex;
	
	
}

.section11 {
	display: flex;
	justify-content: space-around;
	background-image: radial-gradient( rgb(255, 255, 255), rgb(102, 102, 102));
	background-color: rgb(145, 144, 144);
	color: rgb(255, 255, 255);
	letter-spacing: 20px;
	text-shadow: 2px 2px 5px rgb(31, 31, 31);
	border-style: solid;
	border-width: thin;
	border-color: rgb(0, 0, 0);
}

.section12 {
	display: flex;
	justify-content: space-between;
}

.section12sub {
	display: inline-flex;
}

.fontfade {
    opacity: 100%;

    font-size: 21px;
    text-align: center;
    -webkit-transition: opacity 2s ease-in;
	transition: opacity 2s ease-in;
	animation: fadein 2s;
}​

.fontslide {
	text-align: center;
    animation: slide;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}



@keyframes slide {
    from {left: 0%;}
    to {right: 80%;}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}